
		.full{
			
			align-content: center;
			color: white;
			background: black;
		}
		.left{
			margin-left: 10px;
			margin-right: 50%;
			align-content: left;
		}
			
		.right{
			width:800px;
			margin-left: 50%;
			margin-right:auto;
			margin-top: 0%;
			align-content: right;

			


		}
			
	